
/*web fonts*/

/*base styles*/
header {
  
}

.name {
  text-align:center;
}

ul {
  list-style:none;
  padding-left: 0px;
}

li {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
  background-color: white;
  font-size: 1.5em;
  text-transform:uppercase;

}

.nav {
 text-align:center;
}

.layout-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
 
}


a:link {
  color:black; 
  text-decoration: none
}

a:visited {
  color:black;
}

a:hover {
  text-decoration:underline;
}


article {
  text-align:center;
  padding: 10px 
}


body {
  background-color:#F8F8F8;
  margin: 0px;
  border-color:#E8E8E8;
  border-top-width:0px;
  border-bottom-width:0px;
  border-left-width: 40px;
  border-right-width:40px;
  border-style:solid;
  font-family: 'Source Sans Pro', sans-serif;
  
}

main {
  margin-top:50px;
  padding-top:20px;
  background-color:white;
 
}
h1 {
  text-align:center;
}

h2 {
  text-align:center;
  padding-top:40px;
  
}

h1,
h2 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}


.pic {
 display:block;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}

.portfolio {
  margin-bottom:40px;
  margin-top: 0px;
  text-align:center;
}


footer {
  overflow:auto;
  background-color:#F8F8F8;

}

address {
  text-align:center;
  margin-top: 15px;
  margin-bottom:15px;
}

hr {
width: 90%;
}

.footer-name {
  float:left;
  width:35%;
  margin-left:15px;
}

.back-top {
  float:right;
  width: 35%;
  margin-right:15px;
  padding-top: 20px;
}

/*Media Quaries*/

@media screen and (min-width: 768px) {
  
  li {
    display: inline-block;
    background-color:#F8F8F8;
    
  }
  
  .intro{
    float:right;
    max-width:40%;
    padding-top: 50px;
    margin-right: 10px;
  }
  
  .layout-profile{
    float:right;
    max-width:50%;
    max-height: 300px;
    padding-right: 40px;
    margin-left: 10px;
  }
    
  .clearfix:after{
	display:block;
	clear:both;
	content:'';
}
  
  .marketing{
   float:right;
   max-width: 45%;
   margin-right: 10px;
   margin-bottom: 15px;
  }
  
  .search{
  float:right;
  max-width: 45%;
  margin-left:10px;
  margin-bottom: 15px;
  }
  
  .travel{
   float:right;
   max-width: 45%;
   margin-right: 10px;
   margin-bottom: 15px;
  }
  
  .map{
   float:right;
   max-width: 45%;
   margin-left:10px;
   margin-bottom: 15px;
  }
  
  .calculator{
   float:right;
   max-width: 45%;
   margin-left:10px;
   margin-bottom: 15px;
  }
  
  .back-top{
   
  }
     }

@media screen and (min-width: 1024px) {
  
  .name {
    float:left;
    max-width:40%;
    margin-left:50px;
    margin-top:40px;
  }

  .nav {
    float:right;
    max-width:70%;

  }
   .marketing{
   float:right;
   max-width: 30%;
   margin-right: 15px;
   margin-bottom: 15px;
   margin-left: 15px;
  }
  
  .search{
  float:right;
  max-width: 30%;
  margin-left:15px;
  margin-bottom: 15px;
  margin-right: 15px;
  }
  
  .travel{
   float:right;
   max-width: 30%;
   margin-right: 15px;
   margin-bottom: 15px;
   margin-left: 15px;
  }
  
  .map{
   float:right;
   max-width: 30%;
   margin-left:15px;
   margin-bottom: 15px;
   margin-right: 15px;
  }
  
  .calculator{
   float:right;
   max-width: 30%;
   margin-left:15px;
   margin-bottom: 15px;
   margin-right: 15px;
    
  }
  
 .clearfix:after{
	display:block;
	clear:both;
	content:'';
}
 
 .footer-name {
  margin-left:250px;
  }
  
  .back-top {
    padding-top:0px;
    margin-top:16px;
  }
  
}
    

